{% extends "base.html" %}

{% block content %}
    <div class="grid-container">
        <div class="row ">
        <div class="col-4">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary text-warning">
                        <th scope="col">Id</th>
                        <th scope="col">Pessoas</th>
                    </tr>
                </thead>
                <tbody class="table-danger">
               {% for pessoa in pessoas %}
                <tr>
                    <td> {{pessoa.id}}</td>
                    <td> {{pessoa.nome}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 

        <div class="col-4">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary text-warning">
                    
                        <th scope="col">Id</th>
                        <th scope="col">{{pss}}</th>
                    </tr>
                </thead>
                <tbody class="table-danger">
                    {% for p1 in p1s %}
                <tr>
                    <td> {{p1.id}}</td>
                    <td> {{p1.nome}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> 

        <div class="col-4">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-success text-light">
                        <th scope="col">Id</th>
                        <th scope="col">Carros</th>
                    </tr>
                </thead>

                <tbody class="table-warning">
                    {% for carro in carros %}
                    <tr>
                        <td> {{carro.id}}</td>
                        <td> {{carro.nome}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="col-4">
            <table class="table table-striped">
                <thead>
                    <tr class=" text-padrao">
                        <th>Id</th>
                        <th>Linguagens</th>
                    <tr>
                </thead>

                <tbody class="table-dark">
                    {% for linguagem in linguagens %}
                    <tr>
                        <td> {{linguagem.id}}</td>
                        <td> {{linguagem.nome}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
    </div>

</div>
{% endblock %}